<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Edit Profile</title>

  {% load static %}
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static "css/materialize.css"%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/style.css"%}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="teal" role="navigation">
    <div class="nav-wrapper container white-text">
      <a id="logo-container" href="index.html" class="brand-logo">HealthItForward</a>
      <ul class="right">
        <li><a href="forums.html">Forums</a></li>
      </ul>
      <ul class="right">
        <li><a href="profile.html">Profile</a></li>
      </ul>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="card white grey-text text-darken-3">
          <div class="card-content">
            <span class="card-title">Diabetes Forum Posts</span>
            <br>
            <br>

            <a href="post.html"><br>Symptoms of Diabetes<br></a>
            <hr>
            <a href="post.html"><br>Am I at risk?</a>
            <hr>
            <a href="post.html"><br>Popular misconceptions about Diabetes<br></a>
            <hr>
            <a href="post.html"><br>Preventative steps to take<br></a>
            <hr>

            <br>
            <br>
            <a href="new_post.html"><span class="grey-text text-darken-1">Create New Post</span></a>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static "js/materialize.min.js"%}"></script>

  </body>
</html>

