<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Register</title>

    {% load static %}
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static "css/bg.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon">
</head>
<body>
<div class="container fullheight valign-wrapper" style="width: 100%;">
    <div class="card white left" style="margin-left: 40px; width: 50%">
        <form action="/register/" method="post" class="col s12">{% csrf_token %}
            <div class="card-content" style="margin-left: 20px; margin-right: 20px;">
                <div class="row">
                    <span class="card-title">Create an Account</span>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="input-field col s6">
                            {{ form.fname }}
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            {{ form.lname }}
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.email }}
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.is_patient }}
                            <label for="is_patient">Role/Profession</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.password }}
                            <label for="password">Password</label>
                        </div>
                    </div>
                    {% if errorMsg %}
                        <span class="error">{{ errorMsg }}</span><br/><br/>
                    {% endif %}
                    <div class="row" style="color: white">
                        <button type="submit" style="margin-left: 10px;"
                                class="btn-large waves-effect waves-light teal lighten-1">
                            Sign Up
                        </button>
                    </div>
                    <a class="auth-link" href="/login/">Already have an account? Login here.</a>
                    <br/>
                    <br/>
                </div>
            </div>
        </form>
    </div>
</div>

{% include "partials/partial_footer.html" %}

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static "js/materialize.min.js" %}"></script>
<script>

    $(function () {
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };
        role_num = parseInt(getUrlParameter("r"));
        if (role_num == 1) {
           $("#id_is_patient").val(1);
        }
        $('select').material_select();
    });
</script>
</body>
</html>
